<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
             version="2.0">
    <persistence-unit name="mssql-view"
                      transaction-type="RESOURCE_LOCAL">
        <class>com.company.mssqlview.entity.Employee</class>
        <class>com.company.mssqlview.entity.Department</class>
        <class>com.company.mssqlview.entity.AvgHourlyRate</class>
    </persistence-unit>
</persistence>
